<%- include('../../Layouts/Admin_partials/_Head.ejs') %>

    </head>

    <body>
        <div class="main-wrapper">
            <%- include('../../Layouts/Admin_partials/_Topbar.ejs') %>
                <%- include('../../Layouts/Admin_partials/_Sidebar.ejs') %>
                    <div class="page-wrapper">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4 col-3">
                                    <h4 class="page-title"><a href="/permissions">Permissions</a> - Create</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-box">
                                        <h4 class="card-title">Permission Info</h4>
                                        <form action="/permission-store" method="post">
                                            <div class="form-group">
                                                <labe for="name">Name</label>
                                                    <input name="name" id="name" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="status">Status</label>
                                                <select name="status" id="status" class="form-control">
                                                    <option value="">Please Select</option>
                                                    <option value="1">Active</option>
                                                    <option value="0">In-active</option>
                                                </select>
                                            </div>
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('../../Layouts/Admin_partials/_FooterScript.ejs') %>